@use 'variables' as *;
/**
* WP Form Style Customization
**/

#jiography-contactform{
   select, option.placeholder, label {
    font-size: $font-size-base;
      color: $color-gray-400;
      font-family: $font-secondary;
      font-weight: normal;
    }

  form.wpforms-form {
      .wpforms-field {
        margin: 0 auto;
        &.wpforms-one-half {
          width: 45%;
          margin-left: 0 !important;
          margin: 0 3% 0;
        }
      }
      
      input[type=email], input[type=text], textarea, select {
        background: transparent;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 0.9px solid black;
        padding: 0;
        transition: $transition;

        &:hover, &:focus, &:active {
        border-top: none !important;
        border-right: none !important;
        border-left: none !important;
        border-bottom: 0.9px solid #e75e5e;
        box-shadow: none;
        }
      }

      textarea, select {
        width: 93%;
      }

      .wpforms-submit-container {
        display: flex;
        justify-content: end;
        align-items: baseline;

          button[type="submit"] {
            background: none;
            border: none;
            padding: 0;
            position: relative;
            font-family: $font-secondary;
            text-transform: uppercase;
            transition: $transition;
            font-size: 0.75rem;
            margin-top: 5rem;
            margin-bottom: -2.5rem;

            &::after {
              content: '';
              display: inline-block;
              width: 16px; 
              height: 16px;
              transition: $transition;
              background-image: url('@images/arrow-forward.svg');
              transform: rotate(-45deg);
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              margin-left: 3px;
              margin-bottom: 0.3rem;
              vertical-align: middle;
            }

            &:hover {
            background: none;
            padding: 0;
            border: none;
            opacity: 0.65;

              &::after {
                transform: rotate(-45deg) translateX(5px);
              }
            }
          }
        }
      }
}