@use 'variables' as *;

/**
* General Wall Paper Style
**/
#content {
    background: $color-primary-light;
}


/**
* Horizontal Line
*/
.horizontal-line {
    border: 0.5px solid $color-black;
}

/**
* Polaroid Frame
**/
.polaroid-frame {
    padding: 0.75rem 0.75rem 4rem;
    background: $color-white;
}

/**
* Button Style Arrow
**/
.btn-primary {
    > span {
        position: relative;
        
        &::after {
            content: '';
            display: inline-block;
            width: 16px; 
            height: 16px;
            background-image: url('@images/arrow-forward.svg');
            transform: rotate(45deg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 3px;
            transition: $transition;
            vertical-align: middle;
        }
    }
    
    &:hover {
        > span::after {
            transform: rotate(45deg) translateX(5px);
        }
    }
}