@use 'variables' as *;

/**
* General Wall Paper Style
**/
#content {
    background: $color-primary-light;
}


/**
* Horizontal Line
*/
.horizontal-line {
    border: 0.5px solid $color-black;
}

/**
* Polaroid Frame
**/
.polaroid-frame {
    padding: 0.75rem 0.75rem 4rem;
    background: $color-white;
}

/**
* Button Style Arrow
**/
.btn-primary {
    img{
        transition: $transition;
    }
    &:hover {
        img {
            transform: rotate(45deg) translateX(5px);
        }
    }
}