@use 'variables' as *;

/**
* General Wall Paper Style
**/
#content {
    background: $color-primary-light;
}

/**
* Background Overlay
**/
.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}


/**
* Horizontal Line
*/
.horizontal-line {
    border: 0.5px solid $color-black;
}

/**
* Polaroid Frame
**/
.polaroid-frame {
    background: $color-white;
    box-shadow: $shadow-xl;
    padding: 0.85rem 0.85rem 4rem;
}

/**
* Button Style Arrow
**/
.btn-primary {
    > span {
        position: relative;
        transition: $transition;
        
        &::after {
            content: '';
            display: inline-block;
            width: 16px; 
            height: 16px;
            background-image: url('@images/arrow-forward.svg');
            transform: rotate(45deg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 3px;
            transition: $transition;
            vertical-align: middle;
        }
    }
    
    &:hover {
        > span {
            opacity: 0.65;
        }
        > span::after {
            transform: rotate(45deg) translateX(5px);
        }
    }
}

.btn-primary.up {
    span::after {
        transform: rotate(-45deg);
    }
    
    &:hover {
        > span::after {
            transform: rotate(-45deg) translateX(5px);
        }
    }
}