/**
* Portfolio.scss
**/

.portfolio-item-full {
  img{
    max-height: 585px;
    aspect-ratio: 2.5/1;
  }
}

.portfolio-item-full.rectangular {
  .portfolio-item {
    max-width: 650px;
    margin: 0 auto;
    img {
      aspect-ratio: 1/1.15;
      max-height: inherit;
    }
  }
}

.portfolio-item-half.square {
  img {
    aspect-ratio: 1/1;
    max-height: 785px
  }
}

.portfolio-item-half.rectangular {
  img{
    aspect-ratio: 1/1.4;
    max-height: 1103px;
  }
}
